@import '../../styles/fonts.scss';
@import '../../styles/global.scss';

$button-width: 21em;
$button-height: 6.5em;
$button-radius: 6em;

.main-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4.0em;
  width: 100%;
  height: 9.4em;
  top: 60%;
  position: absolute;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-buttons-play {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: $button-width;
  height: $button-height;
  border-radius: $button-radius;
  border: 0.3em solid black;
  background-color: $color-background;
  cursor: pointer;
}

.main-buttons-play-icon {
  display: flex;
  width: $button-height - 0.6em;
  height: $button-height - 0.6em;
  margin-left: 0.3em;
  border-radius: 10em;
  background-color: $color-primary;
  transition: 0.3s;
}

.main-buttons-play:hover>.main-buttons-play-icon {
  margin-left: 10px;
}

.main-buttons-play-text {
  margin-left: 0.6em;
  font-size: 2.2em;
  letter-spacing: -0.7px;
  transition: 0.4s;
}

.main-buttons-play:hover>.main-buttons-play-text {
  margin-left: 12px;
}

.main-buttons-getstarted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $button-width;
  height: $button-height;
  border-radius: $button-radius;
  border: 0.3em solid black;
  background-color: $color-secondary;
  transition: 0.5s;
  cursor: pointer;
}

.main-buttons-getstarted:hover {
  background-color: $color-primary-hover;
}

.main-buttons-getstarted-icon {
  display: flex;
  width: $button-height - 0.6em;
  height: $button-height - 0.6em;
  margin-left: 0.3em;
  border-radius: 10em;
}

.main-buttons-getstarted-text {
  font-size: 2.5em;
  letter-spacing: -0.1px;
  color: white;
}

.main-buttons-github {
  display: flex;
  justify-content: left;
  align-items: center;
  width: $button-width;
  height: $button-height;
  cursor: pointer;
}

.main-buttons-github-img {
  height: 60%;
}