@import '../../styles/fonts.scss';
@import '../../styles/global.scss';

$button-width: 21em;
$button-height: 6.5em;
$button-radius: 6em;

.main-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 11%;
  gap: 3.0vw;
  width: 100%;
  top: 60%;
  user-select: none;
  overflow-x: auto;
  z-index: 1;
}

.main-buttons-play {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 3vw;
  border-radius: $button-radius;
  background-color: $color-background-main-button;
  cursor: pointer;

  &[disabled] {
    color: gray;
    pointer-events: none;
  }
}

.main-buttons-getstarted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: 5.8vw;
  border-radius: $button-radius;
  background-color: $color-secondary-get-started;
  transition: 0.5s;
  cursor: pointer;

  &[disabled] {
    background-color: gray;
    pointer-events: none;
  }
}

.main-buttons-github {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 8vw;
  height: 5.8vw;
  cursor: pointer;
}

.main-buttons-play-icon {
  display: flex;
  height: 5.8vw;
  margin-left: 0.3em;
  border-radius: 10em;
  background-color: $color-primary;
  transition: 0.3s;
}

.main-buttons-play:hover>.main-buttons-play-icon {
  margin-left: 10px;
}

.main-buttons-play-text {
  font-size: max(1em, 1.7vw);
  margin-left: 0.6em;
  letter-spacing: -0.7px;
  transition: 0.4s;
  color: $color-getstarted-text;
  white-space: nowrap;
}

.main-buttons-getstarted-text {
  font-size: max(1em, 1.9vw);
  letter-spacing: -0.1px;
  color: $color-getstarted-text;
  white-space: nowrap;
}

.main-buttons-play:hover>.main-buttons-play-text {
  margin-left: 12px;
}

.main-buttons-getstarted:hover {
  background-color: $color-secondary-hover-get-started;
  }

.main-buttons-github-img {
  height: 58%;
}