@media only screen and (max-width: 1024px) {
  .responsive-hide {
    display: none !important;
  }
}

@media only screen and (max-height: 800px) {
  .responsive-hide {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .responsive-show {
    display: flex;
  }
}

@media only screen and (max-height: 800px) {
  .responsive-show {
    display: flex;
  }
}