@import '../../styles/fonts.scss';
@import '../../styles/global.scss';

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 34%;
  margin-top: $header-height + $header-margin-top;
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.logo-header {
  display: flex;
  font-size: 11vw;
  letter-spacing: -5px;
  align-items: center;
  justify-content: center;
  color: $color-logo;
}

.logo-footer {
  display: flex;
  font-size: 2vw;
  letter-spacing: -1.5px;
  align-items: center;
  justify-content: center;
  color: $color-logo;
}

.logo-footer-wip {
  display: flex;
  font-size: 1.5vw;
  letter-spacing: -1.5px;
  align-items: center;
  justify-content: center;
  color: $color-logo;
  color: red;
}