@import '../../styles/fonts.scss';
@import '../../styles/global.scss';

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header-height;
  margin-top: $header-margin-top;
  position: absolute;
}

.header-home {
  display: flex;
  width: 10em;
  height: 100%;
  margin-left: 3em;
}

.header-home-k {
  display: flex;
  font-size: 5em;
  color: $primary-color;
}

.header-home-js {
  display: flex;
  margin-top: 0.35em;
  font-size: 4em;
}

.header-documentation {
  display: flex;
  margin-left: 3em;
}

.header-documentation-text {
  display: flex;
  height: 100%;
  margin-top: 0.8em;
  font-size: 2.5em;
}

.header-documentation-down {
  display: flex;
  margin-top: 1.9em;
  // width: 10%;
  // height: 10%;
  color: black;
}