@import '../../styles/fonts.scss';
@import '../../styles/global.scss';



.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5.4em;
  position: absolute;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-home {
  display: flex;
  margin-left: 3em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10em;
  cursor: pointer;
}

.header-home-K {
  display: flex;
  font-size: 3.8em;
  color: $color-home;
  height: 1em;
}

.header-home-js {
  display: flex;
  margin-top: 0.3em;
  font-size: 4em;
}

.header-buttons-bar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: 3em;
  color: $color-header-buttons;
  overflow: auto;
}

.header-button {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  height: 3em;
  padding-top: 0.7em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10em;
  cursor: pointer;

  &[disabled] {
    color: gray;
    pointer-events: none;
  }
}

.header-button:hover {
  background-color: $over-background-color;
}

.header-button-text {
  display: flex;
  height: 100%;
  font-size: 2.0em;
}

.header-button-icon-containar {
  transition: 0.5s;
}

.header-button-icon {
  display: flex;
  margin-top: 0.2em;
  margin-left: 1em;
}

.header-github {
  margin-left: auto;
  margin-right: 2.5em;
  cursor: pointer;
  pointer-events: all;

  & img {
    height: 1.8em;
  }
}

.header-x {
  margin-right: 7%;
  cursor: pointer;
  pointer-events: all;

  & img {
    height: 1.5em;
  }

  &[disabled] {
    color: gray;
    pointer-events: none;
  }
}
