@import '../../styles/fonts.scss';
@import '../../styles/theme.scss';

.sidebar-background {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;

  @media only screen and (max-width: $responsive-hide-header-buttons) {
    &.rsp-show-sidebar {
      display: block;
    }
  }
}

.sidebar-background-button {
  width: 100%;
  height: 100%;
  position: absolute;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  top: 3.0em;
  width: 21em;
  height: calc(100vh - 3.0em);
  position: absolute;
  background-color: #0a0a1f;
  border-radius: 5px;
  padding-top: 1em;
}

.sidebar-header-container {
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: center;
  cursor: pointer;

  &[disabled] {
    color: gray;
    pointer-events: none;
  }
}

.sidebar-header-button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-items: center;
  transition: 0.5s;
  margin-bottom: 0.1em;

}

.sidebar-header-button:hover {
  background-color: $over-background-color;
}

.sidebar-header-button-text {
  display: flex;
  justify-items: center;
  font-size: 1.5em;
  font-family: "RoadGeek2005";
  letter-spacing: 0.04em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
}

.sidebar-header-button-icon-containar {
  padding-top: 0.3em;
}

.sidebar-header-button-icon {
  margin-left: 0.5em;
}