@import '../../styles/fonts.scss';
@import '../../styles/theme.scss';

a:link {
  color: $color-markdown-link;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    color: $color-markdown-hover-link;
  }
}

a:visited {
  color: $color-markdown-visited;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    color: $color-markdown-hover-visited;
  }
}

.markdown-container {
  width: 60%;
  overflow: auto;
  margin-top: 6px;
  padding-left: 2em;
  padding-right: 2em;
  // transition: 0.3s;

  @media only screen and (max-width: $responsive-hide-step1) {
    &.rsp-stretch-markdown-container {
      width: 80%;
    }
  }

  @media only screen and (max-width: $responsive-hide-step2) {
    &.rsp-stretch-markdown-container {
      width: 100%;
    }
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  overflow: auto;
  padding-left: 1em;
  text-overflow: ellipsis;
  pointer-events: none;
  user-select: none;
  text-wrap: pretty;
  margin-right: 30px;
  overflow-x: hidden;

  @media only screen and (max-width: $responsive-hide-step1) {
    &.rsp-hide-summary-container {
      display: none;
    }
  }
}

.summary-item {
  font-size: 1.6em;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  transition: 0.3s;
  color: $color-text;
}

.summary-item[highlight] {
  color: $color-markdown-secondary-selected;
}

.summary-selector {
  transition: 0.5s;
  position: absolute;
  width: 19.5%;
  height: 0.2em;
  margin-top: 0.54em;
  background-color: $color-markdown-secondary-selected;
}

/**
 * Markdown format
 */

p {
  font-size: 1.5em;

  img {
    max-width: 90%;
  }
}

li {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

pre {
  text-align: justify;
  font-size: 1.3em;
  border-radius: 4px;
  overflow: auto;
}

code {
  background: $color-markdown-code-background !important;

  &::-webkit-scrollbar-thumb {
    background-color: rgba(160, 160, 160, 0.33) !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.33) !important;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.33) !important;
  }
}

code:not([data-highlighted]) {
  font-family: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.9em !important;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.4em;
  color: $color-markdown-quote-text;
  background-color: $color-markdown-quote-background !important;
}

p:has(img) {
  display: flex;
  justify-content: center;
}